<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    img {
        max-width: 200px;
        max-height: 200px;
    }
    h1 {
        text-transform: capitalize;
    }
    nav {
        display: flex;
        position: relative;
        height: 50px;
        background-color: chocolate;
        text-align: left;
        align-items: center;
        justify-content: space-between;
    }
    nav > a , nav > div > a { 
        text-decoration: none;
        padding: 15px 15px 15px 15px;
    }
    a {
        text-decoration: none;
    }
    div.products {
        display: flex;
    }
    div.product {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 3px solid black;
        border-radius: 5%;
        margin: 10px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>
<body>
    <nav>
        <a href="/mongoose-store/new">New Product</a>
        <a href="/cart">Shopping Cart</a>
        <div class="user">
            <a href="/cart/new">New User</a>
        </div>
    </nav>
    <h1>Store of Goods</h1>
    <div class="products">
        <%products.forEach(product => { %>
            <div class="product">
                <a href="/mongoose-store/<%=product._id%>"><img src="<%=product.img%>"><br>
                    <%=product.name%><br>
                    $<%=product.price%>
                </a><br>
            </div>
        <% }) %>
    </div>
        
</body>
</html>