<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongoose Store</title>
</head>
<body>
    <nav>
        <a href="/mongoose-store/new">Add a new Product</a>
        <a href="/cart">Shopping Cart</a>
    </nav>
    <h1>Store of Goods</h1>
    <ul>
        <%products.forEach(product => { %>
            <li>
                <a href="/mongoose-store/<%=product._id%>"><%=product.name%></a>
                <a href="/mongoose-store/<%=product._id%>/edit">Edit</a>
            </li>
        <% }) %>
    </ul>
        
</body>
</html>