<style>
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1 {
        text-transform: capitalize;
    }
    nav {
        display: flex;
        position: relative;
        height: 50px;
        background-color: chocolate;
        text-align: left;
        align-items: center;
        justify-content: space-between;
    }
    form {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: space-between;
        background-color: lightgray;
        padding: 15px 0;
    }
    nav > a , nav > div > a { 
        text-decoration: none;
        padding: 15px 15px 15px 15px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store of Goods</title>
</head>
<body>
    <nav>
        <a class="back" href="/mongoose-store">Back to Store</a>
    </nav>

    <h1>New Product</h1>
    <form action="/mongoose-store" method="POST">
        Name: <input type="text" name="name"><br>
        Description: <input type="text" name="description"><br>
        Image: <input type="text" name="img"><br>
        Price: <input type="number" name="price"><br>
        Quantity: <input type="number" name="qty"><br>
        <input type="submit" value="Add Product">
    </form>
</body>
</html>