<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store of Goods | New User</title>
</head>
<body>
    <h1>New User</h1>
    <form action="/cart" method="POST">
        Username: <input type="text" name="username"><br>
        <input type="submit" value="Add New User">
    </form>
</body>
</html>